@charset "utf-8";
/* Body */

html {
	background-color: #ccc;
}

/* user */

user-available {
	font-size: 1.125em;
	
}

.user-available[data-status="unchecked"] {
	display:none;
}

.user-available:before {
	content:"✔";
}
.user-available[data-status="available"] {
	color: #090;
}

.user-available[data-status="unavailable"] {
	color: #f33;
}
.user-available[data-status="unavailable"]:before {
	content:"✖";
}

/* passwords*/

.pass-reqs {
	list-style-type: none;
}

.pass-reqs li:before {
	color: #f33;
	font-size: 1.125em;
	content: "x";
}

.pass-reqs li[data-state="achieved"]:before {
	color: #090;
	content:"✔";
}


/* email */

email-available {
	font-size: 1.125em;
	
}

.email-available[data-status="unchecked"] {
	display:none;
}

.email-available:before {
	content:"✔";
}
.email-available[data-status="available"] {
	color: #090;
}

.email-available[data-status="unavailable"] {
	color: #f33;
}
.email-available[data-status="unavailable"]:before {
	content:"✖";
}

/* city */

.city-valid {
	font-size: 1.125em;
	
}

.city-valid[data-valid="unchecked"]{
	display: none;
}

.city-valid[data-valid="invalid"]:before {
	color: #f33;
	content: "x";
}

.city-valid[data-valid="valid"]:before {
	color: #090;
	content:"✔";
}