@charset "UTF-8";
/* CSS Document */

html {
	background-color: #69C;
	font: normal 100%/1.5 Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	width: 60%;
	margin: 0 auto;
	padding:0;
	background-color: #fff;	
	border: 2px solid #069;
	border-top: 0;
	-moz-border-radius: 0 0 9px 9px;
	-webkit-border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-radius: 0 0 9px 9px;
}

ul {
	margin: 0;
	padding: 20px 10px;
}

.tabs > li {
	margin: 0;
	padding: 10px;
	background-color: #ddd;
	border: 2px solid #069;
	border-bottom: 0;
	
	display: inline;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	border-radius: 9px 9px 0 0;
}

.current {
	background
}

